@model IEnumerable<PrivateServiceViewModel>
@{
    ViewData["Title"] = "Index";
    
}

<div class="row pt-2">
    <div class="col-6 ">
        <h2>Passengers List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="PrivateService" asp-action="CreatePrivateService" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp Create new Private Service</a>
    </div>
</div>
<table class="table table-bordered table-striped mt-3" width="100%">
    <thead>
        <tr>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Departure Place</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Arrival Place</th>
            <th>Service Category</th>
            <th>Aircraft id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td class="w-25">@obj.Departure_Date</td>
                <td class="w-50">@obj.Departure_Time</td>
                <td class="w-50">@obj.Departure_Place</td>
                <td class="w-50">@obj.Arrival_Date</td>
                <td class="w-50">@obj.Arrival_Time</td>
                <td class="w-50">@obj.ArrivalPlace</td>
                <td class="w-50">@obj.Service_Category</td>
                <td class="w-50">@obj.Aircraft_Id</td>
                <td>
                    <a asp-controller="PrivateService" asp-action="UpdatePrivateService" asp-route-id="@obj.PrivateService_Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp Edit</a>
                    <a asp-controller="PrivateService" asp-action="DeletePrivateService" asp-route-id="@obj.PrivateService_Id" class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

