@model IEnumerable<PassengerViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<div class="row pt-2">
    <div class="col-6 ">
        <h2>Passenger List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Passenger" asp-action="CreatePassenger" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp Create new Passenger</a>
    </div>
</div>
<table class="table table-bordered table-striped mt-3" width="100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Passport</th>
            <th>Mobile</th>
            <th>Nid</th>
            <th>Address</th>
            <th>User id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td class="w-25">@obj.First_Name</td>
                <td class="w-50">@obj.Last_Name</td>
                <td class="w-50">@obj.Gender</td>
                <td class="w-50">@obj.Passport</td>
                <td class="w-50">@obj.Mobile</td>
                <td class="w-50">@obj.Nid</td>
                <td class="w-50">@obj.Address</td>
                <td class="w-50">@obj.User_Id</td>
                <td>
                    <a asp-controller="Passenger" asp-action="UpdatePassenger" asp-route-id="@obj.User_Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp Edit</a>
                    <a asp-controller="Passenger" asp-action="DeletePassenger" asp-route-id="@obj.User_Id" class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
