@model IEnumerable<PassengerViewModel>
@{
    ViewData["Title"] = "Passenger";
    Layout = "~/Views/Shared/_Layout-DashboardCRUD.cshtml";
}

@if (TempData["success"] != null)
{
    <partial name="_Notifications" />
}
<div class="container">
    <div class="row mt-3 justify-content-between">
        <div class="col-lg-2 border border-primary rounded">
            <div class="pt-3">
                <h2>Admin Panel</h2>
                <hr />
            </div>
            <div class="my-4">
                <div class="list-group">
                    <a asp-controller="Dashboard" asp-action="Users" class="list-group-item list-group-item-action list-group-item-primary">User</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Passenger" class="list-group-item list-group-item-action list-group-item-secondary">Passenger</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Flight" class="list-group-item list-group-item-action list-group-item-success">Flight</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Reservation" class="list-group-item list-group-item-action list-group-item-danger">Reservation</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Offer" class="list-group-item list-group-item-action list-group-item-warning">Offer</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Hotel" class="list-group-item list-group-item-action list-group-item-info">Hotel</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Aircraft" class="list-group-item list-group-item-action list-group-item-danger">Aircraft</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="PrivateService" class="list-group-item list-group-item-action list-group-item-dark">Private Service</a>
                    <br />
                    <a asp-controller="Dashboard" asp-action="Transport" class="list-group-item list-group-item-action list-group-item-success">Transport</a>
                    <br />
                    @*  <button asp-controller="d" type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    The current button
                    </button> *@
                </div>
            </div>
        </div>
        <div class="col-lg-10 border border-secondary rounded">
            <div class="row pt-3 text-center text-secondary">
                <h2>Dashboard</h2>
                <hr />
            </div>
            <div class="row pt-3">
                <div class="col-6 ">
                    <h2>Passenger List</h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Dashboard" asp-action="CreatePassenger" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp Create new Passenger</a>
                </div>
            </div>
            <table class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Passport</th>
                        <th>Mobile</th>
                        <th>Nid</th>
                        <th>Address</th>
                        <th>User id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td class="w-25">@obj.First_Name</td>
                            <td class="w-50">@obj.Last_Name</td>
                            <td class="w-50">@obj.Gender</td>
                            <td class="w-50">@obj.Passport</td>
                            <td class="w-50">@obj.Mobile</td>
                            <td class="w-50">@obj.Nid</td>
                            <td class="w-50">@obj.Address</td>
                            <td class="w-50">@obj.User_Id</td>
                            <td class="col-4">
                                <a asp-controller="Dashboard" asp-action="UpdatePassenger" asp-route-id="@obj.User_Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp Edit</a>
                                <a asp-controller="Dashboard" asp-action="DeletePassenger" asp-route-id="@obj.User_Id" class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


