@model FlightViewModel
@{
    ViewData["Title"] = "DeleteFlight";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<form method="post">
    <div class="border mt-3 p-3">
        <input asp-for="Flight_Id" hidden />
        <div class="row">
            <h2>Delete Flight</h2>
            <hr />
        </div>
        <div>
            <label asp-for="Flight_Name" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Flight_Name" class="form-control mt-1" disabled />
            <span asp-validation-for="Flight_Name" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Departure_Date" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Departure_Date" class="form-control mt-1" disabled />
            <span asp-validation-for="Departure_Date" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Arrival_Date" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Arrival_Date" class="form-control mt-1" disabled />
            <span asp-validation-for="Arrival_Date" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Departure_Place" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Departure_Place" class="form-control mt-1" disabled />
            <span asp-validation-for="Departure_Place" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Arrival_Place" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Arrival_Place" class="form-control mt-1" disabled />
            <span asp-validation-for="Arrival_Place" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Departure_Time" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Departure_Time" class="form-control mt-1" disabled />
            <span asp-validation-for="Departure_Time" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Arrival_Time" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Arrival_Time" class="form-control mt-1" disabled />
            <span asp-validation-for="Arrival_Time" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Total_Seats" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Total_Seats" class="form-control mt-1" disabled />
            <span asp-validation-for="Total_Seats" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Available_Seats" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Available_Seats" class="form-control mt-1" disabled />
            <span asp-validation-for="Available_Seats" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Flight_Type" class="text-secondary" style="font-size:20px"></label>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Status, "Scheduled", new { disabled = "disabled" })
                <label for="scheduled">Scheduled</label>
            </div>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Status, "In air", new { disabled = "disabled" })
                <label for="inAir">In air</label>
            </div>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Status, "Landed", new { disabled = "disabled" })
                <label for="landed">Landed</label>
            </div>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Status, "Cancelled", new { disabled = "disabled" })
                <label for="cancelled">Cancelled</label>
            </div>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Status, "Not scheduled", new { disabled = "disabled" })
                <label for="notScheduled">Not scheduled</label>
            </div>
            <span asp-validation-for="Flight_Status" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Flight_Type" class="text-secondary" style="font-size:20px"></label>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Type, "Public", new { disabled = "disabled" })
                <label for="public">Public</label>
            </div>
            <div>
                @Html.RadioButtonFor(m => m.Flight_Type, "Private", new { disabled = "disabled" })
                <label for="private">Private</label>
            </div>
            <span asp-validation-for="Flight_Type" class="text-danger"></span>
        </div>
        <div class="mt-3">
<<<<<<< Updated upstream
            <label asp-for="Aircraft_Model" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Aircraft_Model" class="form-control mt-1" disabled />
            <span asp-validation-for="Aircraft_Model" class="text-danger"></span>
=======
            <label asp-for="Business" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Business" class="form-control mt-1" disabled />
            <span asp-validation-for="Business" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Economy" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Economy" class="form-control mt-1" disabled />
            <span asp-validation-for="Economy" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="FirstClass" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="FirstClass" class="form-control mt-1" disabled />
            <span asp-validation-for="FirstClass" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Aircraft_Id" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Aircraft_Id" class="form-control mt-1" disabled />
            <span asp-validation-for="Aircraft_Id" class="text-danger"></span>
>>>>>>> Stashed changes
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary" style="width:120px">Delete</button>
            <a asp-controller="Flight" asp-action="Index" class="btn btn-secondary ms-1">Back to List</a>
        </div>
    </div>
</form>


