@model EditUserFlightSearchAndFlightViewModel
@{
    var startDate = DateTime.Today;
    var endDate = startDate.AddDays(30);

    var formattedStartDate = startDate.ToString("yyyy-MM-dd");
    var formattedEndDate = endDate.ToString("yyyy-MM-dd");
}
<form class="form-inline mt-5" method="post" asp-area="" asp-action="Search" asp-controller="Flights">
    <div class="shadow rounded-2" id="flight-search-form myForm">
         <div class="btn-group m-5 pt-3" role="group" id="categorysection" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="category" id="flight" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="flight">Flight</label>

              <input type="radio" class="btn-check" name="category" id="hotel" autocomplete="off">
              <label class="btn btn-outline-primary" for="hotel">Hotel</label>
          </div>
            <div id="flightsection">
                <div class="mx-5 my-3 pt-2 pb-3">
                    <input asp-for="userFlightSearchModel.Way" class="form-check-input" type="radio" id="oneway" name="way" value="oneway" checked />
                    <label asp-for="userFlightSearchModel.Way" class="form-check-label">One Way</label>
                    <input asp-for="userFlightSearchModel.Way" class="form-check-input ms-3" type="radio" id="roundtrip" name="way" value="roundtrip" />
                    <label asp-for="userFlightSearchModel.Way" class="form-check-label">Round Trip</label>
                </div>
                <div class="d-flex px-5 pb-5 justify-content-between">
                    <div class="form-group">
                        <label asp-for="userFlightSearchModel.Origin" class="text-secondary fw-bold"></label>
                        <select class="form-control" id="Origin" name="Origin">
                        @foreach (var item in Model.userFlightSearchModel.AllOrigins)
                        {
                            <option value="@item">@item</option>
                        }
                        </select>
                        <span asp-validation-for="userFlightSearchModel.Origin"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userFlightSearchModel.Destination" class="text-secondary fw-bold"></label>
                        <select class="form-control" id="Destination" name="Destination">
                        @foreach (var item in Model.userFlightSearchModel.AllDestinations)
                        {
                            <option value="@item">@item</option>
                        }
                        </select>
                        <span asp-validation-for="userFlightSearchModel.AllDestinations"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userFlightSearchModel.Departure" class="text-secondary fw-bold">Departure</label>
                        <input asp-for="userFlightSearchModel.Departure" type="date" class="form-control" id="Departure" name="Departure" value="@formattedStartDate" min="@formattedStartDate" max="@formattedEndDate">
                    </div>
                    <div class="form-group">
                        <label asp-for="userFlightSearchModel.Return" class="text-secondary fw-bold">Return</label>
                        <input asp-for="userFlightSearchModel.Return" type="date" class="form-control" id="Return" name="Return" value="" min="@formattedStartDate" max="@formattedEndDate">
                    </div>
                    <div class="traveler-class-container">
                        <button type="button" class="btn btn-primary custom traveler-class-toggle">Travelers & Booking Class<div class="selected-values">1 traveler, Economy</div></button>
                        <div class="collapse traveler-class-options">
                            <div class="input-group">
                                <label asp-for="userFlightSearchModel.Travelers" class="input-group-text">Number of Travelers:</label>
                                <input type="number" asp-for="userFlightSearchModel.Travelers" id="Travelers" name="Travelers" class="form-control" min="1" value="1">
                                <button type="button" class="btn btn-secondary increment">+</button>
                                <button type="button" class="btn btn-secondary decrement">-</button>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="economy" name="bookingClass" class="form-check-input" value="Economy" checked>
                                <label asp-for="userFlightSearchModel.BookingClass" class="form-check-label">Economy</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="business" name="bookingClass" class="form-check-input" value="Business">
                                <label asp-for="userFlightSearchModel.BookingClass" class="form-check-label">Business</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="firstClass" name="bookingClass" class="form-check-input" value="FirstClass">
                                <label asp-for="userFlightSearchModel.BookingClass" class="form-check-label">First Class</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger ms-3 lightSearchButton" style="width:150px" onclick="return validateForm()">@TempData["button"]</button>
                   </div>
              </div>
         <div id="hotelsection" style="display:none">
             <button type="submit" class="btn justify-content-center btn-danger  lightSearchButton" style="width:150px">@TempData["button"]</button>
         </div>
    </div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const travelerClassToggle = document.querySelector('.traveler-class-toggle');
        const travelerClassOptions = document.querySelector('.traveler-class-options');
        const numTravelersInput = document.getElementById('Travelers');
        const incrementButton = document.querySelector('.increment');
        const decrementButton = document.querySelector('.decrement');
        const selectedValuesSpan = document.querySelector('.selected-values');
        const ReturnDate = document.getElementById('Return');
        const Oneway = document.getElementById('oneway');
        const Round = document.getElementById('roundtrip');
        const hotel = document.getElementById('hotel');
        const flight = document.getElementById('flight');
        const flightsec = document.getElementById('flightsection');
        const hotelsec = document.getElementById('hotelsection');

        hotel.addEventListener('click', function(){
            flightsec.style.display = "none";
            hotelsec.style.display = "block";
        })

        flight.addEventListener('click', function(){
            hotelsec.style.display = "none";
            flightsec.style.display = "block";
        })

        travelerClassToggle.addEventListener('click', function () {
            travelerClassOptions.classList.toggle('show');
        });

        incrementButton.addEventListener('click', function () {
            numTravelersInput.value = parseInt(numTravelersInput.value) + 1;
            updateSelectedValues();
        });

        decrementButton.addEventListener('click', function () {
            if (parseInt(numTravelersInput.value) > 1) {
                numTravelersInput.value = parseInt(numTravelersInput.value) - 1;
                updateSelectedValues();
            }
        });

        ReturnDate.addEventListener('focus', function () {
            Oneway.checked = false;
            Round.checked = true;
            const today = new Date();
            const formattedDate = today.toISOString().split('T')[0];
            ReturnDate.value = formattedDate;
        });

        Round.addEventListener('change', function () {
            if (this.checked) {
                // Set today's date in the date input field
                const today = new Date();
                const formattedDate = today.toISOString().split('T')[0];
                ReturnDate.value = formattedDate;
            }
        });

        Oneway.addEventListener('change', function () {
            if (this.checked) {
                ReturnDate.value = "";
            }
        });

        function updateSelectedValues() {
            const numTravelers = numTravelersInput.value;
            const bookingClass = document.querySelector('input[name="bookingClass"]:checked').value;
            selectedValuesSpan.textContent = `${numTravelers} traveler, ${bookingClass}`;
        }
    });

    function validateForm() {
        var origin = document.getElementById('Origin').value;
        var destination = document.getElementById('Destination').value;

        if (origin === destination) {
            alert("Origin and Destination cannot be the same. Please choose different locations.");
            return false;
        }
        else {
            alert("Success");
            return true;
        }
    }
</script>