@using AirlineReservationWebApplication.Areas.Admin.Models
@model PassengerViewModel

<div class="w-50">
    <h2 class="text-danger">Traveller Details</h2>
    <div class="row shadow-lg rounded-3 my-4 p-3">
        <h3 class="m-1 py-1 bg-danger text-white rounded-2">Traveller 1</h3>
        <div class="d-flex justify-content-between px-3 my-3 text-secondary">
            <div class="d-flex">
                <div>
                    <p>Name:</p>
                    <p>Date of Birth:</p>
                    <p>Email:</p>
                </div>
                <div class="mx-4">
                    <p>@Model.First_Name @Model.Last_Name</p>
                    <p>@Model.Date_of_Birth</p>
                    <p>@Model.Email</p>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Gender:</p>
                    <p>Country:</p>
                    <p>Phone Number:</p>
                </div>
                <div class="mx-4">
                    <p>@Model.Gender</p>
                    <p>@Model.Country</p>
                    <p>@Model.Mobile</p>
                </div>
            </div>
        </div>
    </div>

  @*   <form asp-controller="Payment" asp-action="Checkout" method="post">
        <input asp-for="Passenger_ID" value="@Model.Passenger_ID" hidden/>
        <input asp-for="First_Name" value="@Model.First_Name" hidden />
        <input asp-for="Last_Name" value="@Model.Last_Name" hidden />
        <input asp-for="Title" value="@Model.Title" hidden />
        <input asp-for="Gender" value="@Model.Gender" hidden />
        <input asp-for="PassportExpiryDate" value="@Model.PassportExpiryDate" hidden />
        <input asp-for="Passport" value="@Model.Passport" hidden />
        <input asp-for="Date_of_Birth" value="@Model.Date_of_Birth" hidden />
        <input asp-for="Mobile" value="@Model.Mobile" hidden />
        <input asp-for="Nid" value="@Model.Nid" hidden />
        <input asp-for="Country" value="@Model.Country" hidden />
        <input asp-for="Email" value="@Model.Email" hidden />
        <input asp-for="Address" value="@Model.Address" hidden />
        <input asp-for="User_Id" value="@Model.User_Id" hidden />
        <button class="text-white bg-danger">Pay with SSL Commerz</button>
    </form> *@
     <a class="btn btn-primary" href="/Payment/checkout"> <i class="fa fa-check"></i> Checkout</a>

</div>