@model IEnumerable<OfferViewModel>
@{
    ViewData["Title"] = "Index";
    
}

<div class="row pt-2">
    <div class="col-6 ">
        <h2>Offer List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Offer" asp-action="CreateOffer" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp Create new Offer</a>
    </div>
</div>
<table class="table table-bordered table-striped mt-3" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>End Date</th>
            <th>End Time</th>
            <th>Range</th>
            <th>Validity</th>
            <th>Flight id</th>
            <th>Hotel id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Offer_Id</td>
                <td>@obj.Start_Date</td>
                <td>@obj.Start_Time</td>
                <td>@obj.End_Date</td>
                <td>@obj.End_Time</td>
                <td>@obj.Offer_Range</td>
                <td>@obj.Validity</td>
                <td>@obj.Flight_Id</td>
                <td>@obj.Hotel_Id</td>
                <td>
                    <a asp-controller="Offer" asp-action="UpdateOffer" asp-route-id="@obj.Offer_Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp Edit</a>
                    <a asp-controller="Offer" asp-action="DeleteOffer" asp-route-id="@obj.Offer_Id" class="btn btn-danger"><i class="bi bi-trash"></i>&nbsp Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

